.link {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  color: #777;
  width: calc(100% / 3);
  padding: 16px 0;
}

.active {
  color: #000;
  background-color: #ccc;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 24px;
}
