a {
  color: #000;
  text-decoration: none;
}

.wrap {
  margin: auto;
  width: 700px;
  font-family: "Roboto", sans-serif;
  position: relative;
  padding: 15px;
}

@media (min-width: 410px) and (max-width: 767px) {
  .wrap {
    max-width: 650px;
    min-width: 370px;
    max-height: 600px;
    margin: auto;
  }
}

@media (min-width: 321px) and (max-width: 409px) {
  .wrap {
    max-width: 400px;
    min-width: 321px;
    max-height: 600px;
    margin: auto;
  }
}

@media (max-width: 320px) {
  .wrap {
    width: 310px;
    max-height: 480px;
    margin: auto;
  }
}

.appHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
}